// Plugins to load in the background when a new session starts
load_plugins {
  // "file:/path/to/my-plugin.wasm"
  // "https://example.com/my-plugin.wasm"
}

ui {
    pane_frames {
        hide_session_name false
        rounded_corners true
    }
}

theme "tokyo-night-dark"

simplified_ui true
show_startup_tips false
show_release_notes true
auto_layout true
default_shell "fish"
session_serialization true
pane_viewport_serialization true
default_mode "locked"
mouse_mode true
copy_command "wl-copy"
copy_on_select false
scrollback_editor "/usr/bin/nvim"
serialization_interval 60
pane_frames false

// on_force_close "quit"
// default_cwd ""
// default_layout "compact"
// scroll_buffer_size 10000
// copy_clipboard "primary"
// mirror_session true
// layout_dir "$HOME/.config/zellij/layout"
// styled_underlines false
// disable_session_metadata true
// support_kitty_keyboard_protocol false
// stacked_resize false
// advanced_mouse_actions false
