# Blocklist files/folders in same directory as the .gitignore file
/*

# except these
!.gitignore
!.bashrc
!.vimrc
!README.md
!fish
!hypr
!kitty
!nvim
!rofi
!Screenshots
!swaync
!waybar
!wezterm
!wlogout

