/* Global Styles */
* {
    font-family: FiraCode Nerd Font;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 0.5px;
}

/* Module Styles */
.module {
    padding: 0 0.8rem;
    color: rgb(0, 238, 255);
}

.modules-left,
.modules-right,
.modules-center {
    border-radius: 0.4rem;
    background: black;
}

window#waybar.top .modules-center {
    background: transparent;
}

.modules-left {
    margin-left: 3px;
}

.modules-right {
    margin-right: 4px;
}

/* Window Styling */
window#waybar {
    background: transparent;
    transition: background 0.5s;
}

/* Make window module transparent when no windows present */
window#waybar.empty #window {
    background: transparent;
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* Button Styling */
button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    background: transparent;
}

button:hover {
    color: rgb(250, 139, 255);
}

/* Workspaces Button Styling */
#workspaces button {
    color: rgb(0, 238, 255);
    font-weight: bolder;
    box-shadow: inset 0 -3px transparent;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 0 5px;
}

#workspaces button.active {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(45deg, rgb(250, 139, 255), rgb(0, 238, 255)) 1;
    padding: 0 10px;
}

#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.urgent {
    color: red;
}

#workspaces button:hover {
    color: rgb(250, 139, 255);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

/* Taskbar Button Styling */
#taskbar button {
    padding: 0 10px;
}

#taskbar button.active {
    color: rgb(0, 238, 255);
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(45deg, rgb(250, 139, 255), rgb(0, 238, 255)) 1;
}

/* Transparent Modules When Empty */
#taskbar.empty {
    background-color: transparent;
}

/* Tooltip styling */
menu,
tooltip {
    border-radius: 0.4rem;
    padding: 0.2rem;
}

menu label,
tooltip label {
    color: white;
    padding: 0.4rem;
}

/* Module State Styles */
#network.disconnected,
#wireplumber.muted,
#temperature.critical {
    color: red;
}

#battery.charging,
#battery.plugged {
    color: rgb(250, 139, 255);
    font-weight: 900;
    background: black;
}

@keyframes blink {
    to {
        background-color: black;
        color: red;
    }
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
    animation: blink 1s linear infinite alternate;
}

/* Focused Label Background */
label:focus {
    background-color: black;
}

/* Tray Styles */
#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: red;
}

/* Gradient Module Styles */
#mpris,
#window {
    background: linear-gradient(45deg, rgb(250, 139, 255) 0%, rgb(0, 238, 255) 52%, rgb(250, 139, 255) 90%);
    color: black;
    font-weight: 900;
}

#window,
#mpris {
    border-radius: 0.4rem;
}

/* Idle Inhibitor Module Styles */
#idle_inhibitor.activated {
    color: rgb(250, 139, 255);
}

/* Privacy Module Styles */
#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: rgb(250, 139, 255);
}

#privacy-item.screenshare {
    color: #cf5700;
}

#privacy-item.audio-in {
    color: #1ca000;
}

#privacy-item.audio-out {
    color: #0069d4;
}