* {
    background-image: none;
}

window {
    font-family: FiraCode Nerd Font;
    font-size: 14pt;
    color: #cdd6f4;
    /* text */
    /* background-color: rgba(30, 30, 46, 0.5); */
    background-color: rgba(0, 0, 0, 0.8);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border: none;
    background-color: rgba(30, 30, 46, 0);
    margin: 5px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(49, 50, 68, 0.5);
}

button:focus {
    background-color: rgb(0, 238, 255);
    color: #1e1e2e;
}

#hibernate {
    background-image: image(url("./hibernate.svg"));
}

#hibernate:focus {
    background-image: image(url("./hibernate_focus.png"));
}

#lock {
    background-image: image(url("./lock.png"));
}

#lock:focus {
    background-image: image(url("./lock-hover.png"));
}

#logout {
    background-image: image(url("./logout.png"));
}

#logout:focus {
    background-image: image(url("./logout-hover.png"));
}

#suspend {
    background-image: image(url("./sleep.png"));
}

#suspend:focus {
    background-image: image(url("./sleep-hover.png"));
}

#shutdown {
    background-image: image(url("./power.png"));
}

#shutdown:focus {
    background-image: image(url("./power-hover.png"));
}

#reboot {
    background-image: image(url("./restart.png"));
}

#reboot:focus {
    background-image: image(url("./restart-hover.png"));
}