/* Global styles */
* {
    font-family: FontAwesome, "FiraCode Nerd Font", "Material Icons";
    font-weight: bold;
}

/* Notification Row */
.notification-row:focus,
.notification-row:hover {
    background: black;
}

/* Notification */
.notification {
    background: black;
    color: rgb(0, 238, 255);
    border: 1px solid rgb(0, 238, 255);
}
.notification .critical {
    background: black;
    color: red;
}

.notification-content {
    background: black;
}

.close-button {
    background: black;
    color: rgb(0, 238, 255);
}

.close-button:hover {
    background: rgb(0, 238, 255);
    color : black;
}

/* Notification Actions */
.notification-default-action,
.notification-action {
    background: black;
    border: 1px solid rgb(0, 238, 255);
    color: rgb(0, 238, 255);
}

.notification-default-action:hover,
.notification-action:hover {
    background: rgb(0, 238, 255);
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #FA8BFF 90%);
    color: black;
    border: 1px solid black;
}

/* The "extra" optional bottom notification image */
.body-image {
    color: rgb(0, 238, 255);
}
/* Notification summary/title */
.summary {
    color: rgb(0, 238, 255);
}
/* Notification time-ago */
.time {
    color: rgb(0, 238, 255);
}
/* Notification body */
.body {
    color: rgb(0, 238, 255);
}

/* The inline reply section */
.inline-reply .inline-reply-entry {
    color: rgb(0, 238, 255);
    caret-color: rgb(0, 238, 255);
    background: black;
}

.inline-reply-button {
    color: rgb(0, 238, 255);
    background: black;
}
.inline-reply-button:disabled {
    color: rgb(248, 115, 237);
    background: black;
}
.inline-reply-button:hover {
    background: rgb(0, 238, 255);
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #FA8BFF 90%);
    color: black;
}

/* Styling only for Grouped Notifications */
.notification-group {
    background: black;
    color: rgb(0, 238, 255);
    border: none;
}
.notification-group-headers,
.notification-group-icon,
.notification-group-header,
.notification-group-buttons {
    color: rgb(0, 238, 255);
}

/* The Control Center which contains the old notifications + widgets */
.control-center {
    background: black;
    color: rgb(0, 238, 255);
    border: 2px solid rgb(0, 238, 255);
}
.control-center .notification-row:focus,
.control-center .notification-row:hover {
    background-color: black;
}

/* The list of notifications */
.control-center-list {
    background: transparent;
}

.floating-notifications {
    background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
    background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
    color: rgb(0, 238, 255);
    font-size: large;
}

.widget-title>button {
    color: rgb(0, 238, 255);
    background: black;
    border: 1px solid rgb(0, 238, 255);
}

.widget-title>button:hover {
    background: rgb(0, 238, 255);
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #FA8BFF 90%);
    color: black;
}

/* DND widget */
.widget-dnd {
    color: rgb(0, 238, 255);
    font-size: large;
}

.widget-dnd>switch {
    color: rgb(0, 238, 255);
    background: black;
    border: 1px solid rgb(0, 238, 255);
}

.widget-dnd>switch:checked {
    background: black;
}

.widget-dnd>switch slider {
    background: rgb(0, 238, 255);
}

/* Inhibitors widget */
.widget-inhibitors {
    color: rgb(0, 238, 255);
    font-size: large;
}
.widget-inhibitors>button {
    color: rgb(0, 238, 255);
    background: black;
    border: 1px solid rgb(0, 238, 255);
}
.widget-inhibitors>button:hover {
    background: rgb(0, 238, 255);
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #FA8BFF 90%);
    color: black;
}

/* Mpris widget */
.widget-mpris {
    color: rgb(0, 238, 255);
    background: black;
}

.widget-mpris-player {
    color: rgb(0, 238, 255);
}
.widget-mpris-player>button:hover {
    background: rgb(0, 238, 255);
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #FA8BFF 90%);
    color: black;
}
.widget-mpris-title {
    color: rgb(0, 238, 255);
}
.widget-mpris-subtitle {
    color: rgb(0, 238, 255);
}
.widget-mpris-player>box>button {
    color: rgb(0, 238, 255);
}
.widget-mpris-player>box>button:hover {
    background: rgb(0, 238, 255);
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #FA8BFF 90%);
    color: black;
}

/* Volume and Brightness Widget*/
.widget-volume {
    background-color: black;
    padding: 4px 8px 8px 8px;
    margin: 0px 8px 8px 8px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.widget-backlight {
    background-color: black;
    padding: 8px 8px 4px 8px;
    margin: 8px 8px 0px 8px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.screenshot-buttons,
.power-buttons {
    color: rgb(0, 238, 255);
    background-color: transparent;
    padding: 8px;
    margin: 8px;
    border-radius: 12px;
}

.screenshot-buttons>button,
.power-buttons>button {
    color: rgb(0, 238, 255);
    background: transparent;
}

.screenshot-buttons>button:hover,
.power-buttons>button:hover {
    background: rgb(0, 238, 255);
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #FA8BFF 90%);
    color: black;
}

/* Menubar */
.widget-menubar>box>.menu-button-bar>button {
    color: rgb(0, 238, 255);
    background: transparent;
}

.topbar-buttons>button {
    color: rgb(0, 238, 255);
    background: transparent;
}

/** Buttons Grid **/
.widget-buttons-grid {
    background-color: black;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    color: rgb(0, 238, 255);
    background: black;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: rgb(0, 238, 255);
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #FA8BFF 90%);
    color: black;
}