/* === Global Settings === */
/* ===CSS Variables=== */
:root {
    --primary-color: rgba(187, 154, 247, 1);
    /* Use the theme base color */
    --secondary-color: @theme_base_color;
    --tertiary-color: rgba(255, 158, 100, 1);
    --transparent-color: rgba(0, 0, 0, 0.8);
    --warning-color: rgb(255, 0, 0);
    --border-radius: 0.4rem;
    --font-size: 0.8rem;
    --font-weight: 600;
    --font-family: "FiraCode Nerd Font", "Material Icons", FontAwesome;
}

* {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}

/* === Close Button === */
.close-button {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.close-button:hover {
    color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
}

.blank-window,
.floating-notifications {
    background: transparent;
}

@import "theme/notification.css";
@import "theme/control-center.css";
